*{
    margin: 0%;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: #002339;
    color:#fff;
}
.container{
    width: 700px;
    max-width: 90%;
    margin: 12%;
}
.container h1{
    font-weight: 500;
    font-size: 55px;
}
.container span{
    color:green;
    border-bottom: 4px solid #fff;
    padding: 5px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 15px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.display i{
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.display i:hover{
    transform: scale(1.2);
}
.gen i {
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.gen i:hover{
    transform: scale(1.2);
}